[Unit]
Description=Secure Tunnel Service
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=20s
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity
LimitRPTRIO=infinity
LimitRTTIME=infinity
WorkingDirectory={dir}
ExecStart={dir}/SecureTunnel --api {api} --id {id} --secret {secret}

[Install]
WantedBy=multi-user.target